extends layout.pug
block content
  div.bg-repeat.content
    div.container
      div.row.photo-wrap.d-flex.justify-content-center
        div.photobox
          img.img-fluid(src='images/image1.jpg')
        div.photo-data
          div.username.text-center Username
          div.date.text-center Date
          div.location.text-center location
      div.row
        a.text stuff stuff stuff stuff
    
