head
  meta(charset='UTF-8')
  title Back in my Day
  meta(name='author' content='name')
  meta(name='description' content='description here')
  meta(name='keywords' content='keywords,here')
  link(rel='shortcut icon' href='./../public/images/support/favicon.ico' type='image/vnd.microsoft.icon')
  link(rel='stylesheet' href='//fonts.googleapis.com/css?family=font1|font2|etc' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Varela+Round&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='style.css' type='text/css')
  script(src='https://polyfill.io/v3/polyfill.min.js?features=default')

// Main Website
body
  .Main-container
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.Splash-screen-bg
      a.navbar-brand(href='#')
        img.d-inline-block.align-top(src='./AppLogo_whiteOutline.png' width='25' alt='')
      #navbarSupportedContent.d-flex.mt-3.justify-content-start
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='#' style='color: white')    sdjkfhaskdh 
          li.nav-item
            a.nav-link(href='#' style='color: white') About
        form.form-inline.ml-3.input-large
          input.form-control.BIMD_search(type='search' placeholder='Person, Place, or Thing' aria-label='Search')
    img(src='google-maps-test-image.png' alt='Duthie Speed School of Engineering' width='100%' height='auto')
    iframe(width='100%' height='100%' style='border:0' loading='lazy' allowfullscreen='' src='https://www.google.com/maps/embed/v1/place?key=AIzaSyC378FzdqDmer5FbeuT5tRIeM2h6YdWgzQ&q=Eiffel+Tower,Paris+France')
    #map
