html
  head
    meta(charset='UTF-8')
    title Back in my Day
    meta(name='author' content='name')
    meta(name='description' content='description here')
    meta(name='keywords' content='keywords,here')
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet' href='stylesheets/style.css' type='text/css')
  body
    nav.nav
      div.nav_container(style='background-image: url("images/support/bg.jpg")')
        div.nav_colum_div_left
          div.nav_brand_div
            img.nav_logo(src='images/support/AppLogo_whiteOutline.png')
        div.nav_colum_div_middle
          div.nav_search
            ul.nav_search_list
              li.nav_search_list_item
                a.nav_button search button
              li.nav_search_list_item
                a.nav_text_entry search box
          div.nav_utils
            ul.nav_utils_list
              li.nav_utils_list_item
                a.nav_button nav button
              li.nav_utils_list_item
                a.nav_button nav button
              li.nav_utils_list_item
                a.nav_button nav button
              li.nav_utils_list_item
                a.nav_button nav button
        div.nav_colum_div_right
          ul.nav_login_list
            li.nav_login_list_item
              a.nav_username username
            li.nav_login_list_item
              a.nav_password password
            li.nav_login_list_item
              a.nav_login_button login button
            li.nav_login_list_item
              a.nav_login_forgot_pw forgot password
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")

        
